h1{
    color: white;
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
}



.forms {
  color: white;
  padding: 50px;
  background-color: lightblue;  
  text-align: center;
}